html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #975DF6;
    user-select: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10px auto;
}

.h2-main-titile {
    text-align: center;
    font-weight: 700;
}

img {
    width: 150px;
    margin: 10px auto;
}

input {
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border: 0;
    margin: 25px 0 10px;
}

button {
    background-color: #FF5F93;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

ul {
    display: flex;
    max-width: 320px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    flex-grow: 1;
    background-color: beige;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
}

ul li:hover {
    background-color: red;
}